interface=$INTERFACE
driver=nl80211
ctrl_interface=/var/run/hostapd
ctrl_interface_group=0
ssid=$SSID
channel=$CHANNEL
hw_mode=g
auth_algs=1
ignore_broadcast_ssid=$HIDDEN
beacon_int=$BEACON_INT
country_code=$COUNTRY_CODE

wpa=$WPA_MODE
wpa_passphrase=$PASSPHRASE
wpa_key_mgmt=WPA-PSK
wpa_pairwise=TKIP
rsn_pairwise=CCMP